
.navbar{
    background-color: rgb(255, 209, 216);
    
}
.navbar-nav{
      text-align: left;
      display: flex;
}
.navbar ul{
  list-style: none;
  font-size: 15px;
}
.navbar ul li a{
  list-style: none;
}

#Homesection{
    margin: 0%;
    left:5px;
    height: 100%;
    width:100%;

}

#pp{
    padding-left: 0%;

}
#Homesection img{
    height: 100;
}
.navbarText{
    font-family:fantasy;
    font-size: large;
}
.tab{
    display:inline-block;
    margin-left:40px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#gallery{
    padding: 5px;
}
#gallery img{
    padding: 5px;
    height: 90%;
    width: 100%;
}

#gallery2{
    display:flex;
}
#shoplink{
    justify-content: center;
    background-color: rgb(255, 209, 253);
    text-align: center;
    font-size: larger;
    padding: 55px;
}
.space img{
    padding-left: 40px;

}
#pink.image-container {
  position: relative; 
  margin: 10px; 
}
.image-container img {
  width: 100%;
  height: auto;
}
#pink.text {
  position: relative;
  bottom: 10px;
  left: 10px; 
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 5px; 
  border-radius: 5px;
  font-weight: bold;
}

#links .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 120rem;
}

#links .col-4 {
  flex: 1;
  margin: 5px;
  margin-right: 3px;
  padding: 50px;
  font-size: 20px;
}

#links.card {
  border: none;
  max-width: 28rem;
  
}
#links.card-header { 
  font-size: 22px;
  padding: 10px;
  margin-bottom: 10px;
}
#links.card-text {
  margin: 20px;
  padding: 20px;
}

#links.card-text a {
  color: #007bff; /* Link color */
  text-decoration: none;
}
.card.r1 { 
  background-color: #d5ecbd;
}

.card.r2{
    background-color: rgb(224, 167, 177);
}
.card.r3{
    background-color: rgb(166, 134, 195);
}
#footer{
    padding-bottom: 30px;
    color: #0c5b47;
}
.form-container {
    align-self: normal;
    margin: 0;
    border-bottom: 2px solid #696868;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .form-input {
    background-color: none;
    padding: 8px;
    border-width: 30px;
    border-bottom: 2px solid #696868;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .form-submit {
    background-color: #c5f5d8;
    color: #1f0909;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    .navbar{
      display: flex;
      flex-direction:column;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
   #navbar{
    display: flex;
    }
    #gallery{
      padding: 5px;
      display: flex;
      flex-direction: column;
  }
    #gallery img{
      padding: 5px;
      height: 90%;
      width: 100%;
  }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .navbar{
    display: flex;
    flex-direction: column;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .navbar{
    display: flex;
    flex-direction: row;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
  .navbar{
    display: flex;
    flex-direction: row;
    }
  }
